*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
    
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
i{
    color: #000;
}
.logo-text{
    font-size: 3.1em;
    text-transform: uppercase;
    font-weight: 500;
    margin: 37px;
}
.logo-text span{
    font-weight: 700;
}
header{
    width: 100%;
    background-color: #000;
    font-family: 'Padauk', sans-serif;
    height: 118px;
}
header *{
    color: #fff;
}
header .container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}
header ul{
    float: right;
    border: 1px solid red;
    list-style: none;
    padding: 0px;
    margin: 25px;
}
header ul li{
    float: left;
    position: relative;
}
header ul li ul{
    position: absolute;
    top: 66px;
}
header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
}
header ul li a:hover{
    color: darkorange;
    transition: 0.5s;
}
header .menu-toggle{
    display: none;
}